[submodule "apifox-sync"]
	path = apifox-sync
	url = https://github.com/eddiearc/apifox-sync.git
[submodule "yunxiao-dev-deploy"]
	path = yunxiao-dev-deploy
	url = https://github.com/eddiearc/yunxiao-dev-deploy.git
[submodule "annotate-anything"]
	path = annotate-anything
	url = https://github.com/eddiearc/annotate-anything.git
